/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 2:52:07 PM
    Author     : frontend
*/

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('fonts/Arial-BoldMT/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),  url('fonts/Arial-BoldMT/Arial-BoldMT.woff') format('woff'), url('fonts/Arial-BoldMT/Arial-BoldMT.ttf')  format('truetype'), url('fonts/Arial-BoldMT/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('fonts/Arial-ItalicMT/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),  url('fonts/Arial-ItalicMT/Arial-ItalicMT.woff') format('woff'), url('fonts/Arial-ItalicMT/Arial-ItalicMT.ttf')  format('truetype'), url('fonts/Arial-ItalicMT/Arial-ItalicMT.svg#Arial-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('fonts/ArialMT/ArialMT.eot?#iefix') format('embedded-opentype'),  url('fonts/ArialMT/ArialMT.woff') format('woff'), url('fonts/ArialMT/ArialMT.ttf')  format('truetype'), url('fonts/ArialMT/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSlab-500';
  src: url('MuseoSlab-500.eot?#iefix') format('embedded-opentype'),  url('fonts/MuseoSlab-500/MuseoSlab-500.otf')  format('opentype'),
	     url('fonts/MuseoSlab-500/MuseoSlab-500.woff') format('woff'), url('fonts/MuseoSlab-500/MuseoSlab-500.ttf')  format('truetype'), url('fonts/MuseoSlab-500/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
