


@media(min-width:576px){






}


@media(min-width:768px){

    header .navbar-nav a{
        font-size: 14px;
        text-align: center;
        border-bottom: none;
        border-right: 1px solid #7E7E7E;
        transition: 0.5s linear;
        padding: 0 10px;
    }
    header .navbar-nav li:last-of-type a
    {
        border-bottom: none;
        border-right: none;
    }
    header .navbar-nav li.active a,
    header .navbar-nav li:hover a{
        background: #000;
        color: #fff !Important;
    }



}


@media(min-width:992px){


    .container{
        max-width: 947px;
    }

}





@media(min-width:1200px){

    .container{
        max-width: 947px;
    }



}